@import url(/assets/reset.css);

body {
    background-color: var(--cor-primaria);
}

header {
    position: sticky;
    top: 0;
    background-color: var(--cor-primaria);
    font-family: var(--fonte-primaria);
    padding: 25px;
    display: flex;
    height: 70px;
    align-items: center;

}

header a {
    color: var(--cor-terciaria);
    font-weight: 500;
    font-size: 1.1rem;
    text-decoration: none;
    transition: 0.6s;
}

header a:hover {
    color: #f5d1b4;
    cursor: pointer;
}

main {
    padding: 10px 20px;
}

.perfil {
    display: flex;
    justify-content: center;
}

.perfil img {
    width: 90%;
    height: 400px;
    border-radius: 15px;
    margin-bottom: 35px;
}

.texto {
    font-family: var(--fonte-primaria);
    color: #ffffff;
    font-size: 1.1rem;
}

span {
    color: var(--cor-terciaria);
    font-size: 2.5rem;
}

h3 {
    width: 17ch;
    text-wrap: nowrap;
    overflow: hidden;
    animation: letter-animation 2.5s steps(35) infinite alternate-reverse;
}

.sobre h1 {
    color: var(--cor-terciaria);
}

@keyframes letter-animation {
    from {
        width: 0ch;
    }
}

.texto p {
    margin: 25px 0;
    font-family: var(--fonte-secundaria);
    font-size: 1.4rem;
}

.redes {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--cor-terciaria);
    padding: 20px 15px;
    gap: 10px;
    width: 90%;
    border-radius: 10px;
    transition: 0.6s;
    margin-top: 25px;
}

.icons:hover {
    background-color: var(--cor-terciaria);
    border: 2px solid var(--cor-secundaria);
    cursor: pointer;
    transform: scale(1.1);
}

.icons:hover a {
    color: var(--cor-primaria);
}

.redes h3 {
    color: var(--cor-secundaria);
    font-size: 1.4rem;
    font-family: var(--fonte-primaria);
}

.icons a {
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    transition: 0.6s;
}

footer {
    margin-top: 25px;
    height: 100px;
    background-color: var(--cor-terciaria);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-primaria);
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-family: var(--fonte-secundaria);
    border-radius: 25px 25px 0px 0px;
}

@media screen and (min-width: 700px) {
    body {
        height: 100vh;
        overflow: hidden;
    }

    header {
        padding: 0 0 0 115px;
        background-color: transparent;
    }

    header a {
        font-size: 1.5rem;
    }

    main {
        display: flex;
        justify-content: center;
        gap: 25px;
        height: 79%;
    }

    .perfil {
        order: 1;
        width: 40%;
    }

    .perfil img {
        width: 100%;
        height: 100%;
    }

    .todo {
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 100%;
        overflow: hidden scroll;
        scrollbar-width: none;
    }

    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .sobre {
        width: 40%;
    }


}
